---
import Layout from "../components/layouts/layout.astro";
import Header from "../components/layouts/header.astro";
import Footer from "../components/layouts/footer.astro";
import Hero from "../components/sections/hero.astro";
import Features from "../components/sections/features.astro";
import FeaturedProducts from "../components/sections/featured-products.astro";
import CTA from "../components/sections/cta.astro";
---

<Layout>
  <Header />

  <main class="flex-1">
    <Hero />
    <Features />
    <FeaturedProducts />
    <CTA />
  </main>

  <Footer />
</Layout>
